{%load bootstrap3%}
{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Moringa Tribune - {{title}}</title>
    {% else %}
    <title> Moringa Tribune </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    <div class="container">
    
      <div class="row">
        {% if images%}
          <h2>Found {{ images|length }} of searched term {{message}}</h2>
        {% else %}
          <h2> Found 0 images for the search term {{message}}</h2>
        {% endif %}
    
      </div>
    
      <div class="row">
    
      {% if images %}
        {% for imaged in images %} <div class="col-sm-6  col-md-4">
            <div class="thumbnail">
                <img id='myImg' src="{{imaged.image.url}}" class="img-responsive myImg" alt="Image">
                <div class="caption">
                    <h3>{{imaged.image_name}}</h3>
                    <p>{{imaged.image_description| truncatechars:10}}.</p>
                    <p><a href="# " class="btn btn-primary" role="button">Button</a> 
                        <a href="{%url 'imagepath' image_id=imaged.id%}" class="btn btn-default" role="button">More info...</a></p>
                </div>
            </div>
            <div id="myModal" class="modal mmyModal">
                <span class="close">&times;</span>
                <h1 id='caption'>{{imaged.image_name}}</h1>
                <img class="modal-conten" id="img01" >
                <div id="caption">
                    <p>{{imaged.image_description}}.</p>
                </div>
            </div>
        </div>
          
        {% endfor %}
      {% endif %}
      </div>
    </div>
    {% endblock %}
    {% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{%static 'js/index.js'%}"></script>

    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>